<section id="certifications">
    <p class="section__text__p1">Showcasing My</p>
    <h1 class="title">Certifications</h1>
    <div class="certifications-container">
        <!-- Main Certification -->
        <div class="cert-main">
            <img src="./assets/Associate.svg" alt="Main Certification" class="cert-img-main" />
            <h2 class="cert-title">Azure Administrator</h2>
        </div>
        <!-- Sub Certifications -->
        <div class="cert-row">
            <div class="cert-sub">
                <img src="./assets/Fundamentals.svg" alt="Sub Certification 1" class="cert-img-sub" />
                <h3 class="cert-title">Azure Fund</h3>
            </div>
            <div class="cert-sub">
                <img src="./assets/Fundamentals.svg" alt="Sub Certification 2" class="cert-img-sub" />
                <h3 class="cert-title">Azure Sec Fund</h3>
            </div>
        </div>
    </div>
    <img src="./assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#contact'" />
</section>